@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@font-face {
  font-family: "MaisonNeue-Book";
  src:
    url("/fonts/MaisonNeue-Book.woff2") format("woff2"),
    url("/fonts/MaisonNeue-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-heading: var(--font-heading);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --font-sans: "MaisonNeue-Book", sans-serif;
  --font-heading: "MaisonNeue-Book", sans-serif;
  --background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --card: oklch(97.61% 0 0);
  --card-foreground: oklch(0% 0 0);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(0% 0 0);
  --primary: oklch(54.10% 0.221 29.16);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(84.52% 0 0 / 45%);
  --secondary-foreground: oklch(0% 0 0);
  --muted: oklch(82.03% 0 0 / 40%);
  --muted-foreground: oklch(48.55% 0 0);
  --accent: oklch(38.67% 0 0 / 10%);
  --accent-foreground: oklch(0% 0 0);
  --destructive: oklch(60.49% 0.235 26.84);
  --border: oklch(0% 0 0 / 14%);
  --input: oklch(0% 0 0 / 8%);
  --ring: oklch(54.10% 0.221 29.16);
  --accent-red: oklch(60.49% 0.235 26.84);
  --accent-gold: oklch(43.81% 0.158 28.88);
  --chart-1: oklch(60.49% 0.235 26.84);
  --chart-2: oklch(54.10% 0.221 29.16);
  --chart-3: oklch(43.81% 0.158 28.88);
  --chart-4: oklch(63.01% 0 0);
  --chart-5: oklch(68.15% 0.211 36.77);
  --radius: 0.75rem;
  --sidebar: oklch(0% 0 0);
  --sidebar-foreground: oklch(100% 0 0);
  --sidebar-primary: oklch(54.10% 0.221 29.16);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(32.11% 0 0);
  --sidebar-accent-foreground: oklch(100% 0 0);
  --sidebar-border: oklch(0% 0 0 / 14%);
  --sidebar-ring: oklch(54.10% 0.221 29.16);
}

.dark {
  --background: oklch(0% 0 0);
  --foreground: oklch(100% 0 0);
  --card: oklch(32.11% 0 0);
  --card-foreground: oklch(100% 0 0);
  --popover: oklch(34.07% 0 0);
  --popover-foreground: oklch(100% 0 0);
  --primary: oklch(60.49% 0.235 26.84);
  --primary-foreground: oklch(100% 0 0);
  --secondary: oklch(38.67% 0 0);
  --secondary-foreground: oklch(100% 0 0);
  --muted: oklch(36% 0 0);
  --muted-foreground: oklch(63.01% 0 0);
  --accent: oklch(40.17% 0 0);
  --accent-foreground: oklch(100% 0 0);
  --destructive: oklch(60.49% 0.235 26.84);
  --border: oklch(100% 0 0 / 12%);
  --input: oklch(100% 0 0 / 10%);
  --ring: oklch(60.49% 0.235 26.84);
  --accent-red: oklch(60.49% 0.235 26.84);
  --accent-gold: oklch(43.81% 0.158 28.88);
  --chart-1: oklch(60.49% 0.235 26.84);
  --chart-2: oklch(54.10% 0.221 29.16);
  --chart-3: oklch(43.81% 0.158 28.88);
  --chart-4: oklch(63.01% 0 0);
  --chart-5: oklch(68.15% 0.211 36.77);
  --sidebar: oklch(0% 0 0);
  --sidebar-foreground: oklch(100% 0 0);
  --sidebar-primary: oklch(60.49% 0.235 26.84);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(32.11% 0 0);
  --sidebar-accent-foreground: oklch(100% 0 0);
  --sidebar-border: oklch(100% 0 0 / 10%);
  --sidebar-ring: oklch(60.49% 0.235 26.84);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans font-normal tracking-normal antialiased;
  }

  html {
    @apply font-sans;
  }

  html.dark {
    color-scheme: dark;
  }
}
